<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029162918226-ferrpbjscpn1ou6mnns36bppblpmi0ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029162918226-ferrpbjscpn1ou6mnns36bppblpmi0ct</string>
	<key>API_KEY</key>
	<string>AIzaSyAaRnhaPdhjxro8gV5eMBUCb3SRn0Bq0Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>1029162918226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebaseproject</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaseproject-3f8c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaseproject-3f8c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029162918226:ios:400b5850879f5f52a09a8b</string>
</dict>
</plist>